XMLSxhema/EventManagement/Organizer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.eventmanagement.com/event" 
	xmlns:tns="http://www.eventmanagement.com/event"
	xmlns:common="http://www.eventmanagement.com/common"  
	elementFormDefault="qualified">
		<import schemaLocation="common.xsd" namespace="http://www.eventmanagement.com/common"></import>
	
	<complexType name="organizer">
		<sequence>
			<element name="name" type="common:stringmax25" />
			<element name="email" type="common:email" />
			<element name="phone" type="common:phone" />
		</sequence>
	</complexType>


</schema>